.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.titleComponent {
    color: #eaeaea;
    font-size: 20px;
    margin-bottom: 20px;
}

.form {
    min-width: 500px;
}