.taskContainer {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 0;
}

.inputRow {
    display: flex;
    gap: 8px;
}

.taskInput {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.taskInput:focus {
    outline: none;
    border-color: #0070f3;
}

.aiButton {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.tasksList {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.task {
    border: 1px dashed #fff;
    padding: 8px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.completed {
    border: 1px dashed #3974a0;

    color: #666;
}

.checkbox {
    margin: 0;
}

.completed>.taskText {
    text-decoration: line-through;
}

.taskText {
    flex: 1;
}

.removeButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 0 8px;
    color: #666;
}

.removeButton:hover {
    color: red;
    border: none;
}